html,body{
	height: 100%;
	width:100%;
	min-height:100%;
	background-color: #EEEEF0;
}

#wrap{
	height: 100%; 
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
	flex-flow: column;
}

#header{
    position:absolute; text-align: center; background-color: #1081DA; width: 100%; height: 45px; line-height: 45px;
}
#header h1{
    font-size: 18px; margin: 0em; color: #FFFFFF;
}

.egret-img {position: absolute;}
.egret-img img {height: 20px; padding:12px 10px; vertical-align: top;}	

#main{
    -webkit-box-flex: 1; -webkit-flex: 1; flex: 1;
}

#footer{
    width: 100%; height: 30px; background-color: #1081DA; text-align: center;
}
#footer h5{
    color: white;
}